pandas
streamlit
matplotlib
crewai
langchain_nvidia_ai_endpoints
crewai_tools
numpy
langchain-community
langchain
ddgs
litellm==1.75.da
litellm[proxy]
plotly
dotenv
python-dotenv
pydantic
xgboost
pycountry
langfuse
langchain_nvidia
pathlib
sqlite3
streamlit_echarts
datetime
email
smtplib
math
typing
markdown-pdf