pandas
streamlit
matplotlib
crewai>=0.79.4
langchain_nvidia_ai_endpoints
crewai-tools>=0.14.0
numpy
langchain-community
langchain
ddgs
litellm==1.75.0
litellm[proxy]
plotly
dotenv
python-dotenv
pydantic
xgboost
hdx-python-country>=4.0.0
langfuse
pathlib
sqlite3
streamlit_echarts
datetime
email
smtplib
math
typing
markdown-pdf
neo4j>=5.0.0
joblib
scikit-learn
Pillow
requests
chromadb==1.1.1